body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;

}

h1 {
  margin-top:0;
  margin-left: 30px;
  margin-bottom: 8px;
  text-align: left;
  font-family:'Sacramento', cursive;
  font-size: 3.5rem;
  color: #EAF6F6;
  padding-top: 10px;

}

h2{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Merriweather', serif;
  color:#11999E;
  margin-bottom: 10px;
  font-weight: bold;
}


a{
  color:#11999E;
  text-decoration: none;
  margin:10px 15px 10px 15px;
}

a:hover{
  color:#EAf6f6;
}

hr{
  border-top: 10px;
  border-style: dotted none none;
  border-color:#99d8d0;
  width: 5%;
  margin:100px auto 100px auto;

}
.Letter{
  font-family: 'Sacramento', cursive;
  font-size: 2em;
}
.top-container {
  background-color: #78b7bb;
  position: relative;

}

.logo{
  width:40%;
  margin: 0 auto 0 auto;


}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 100px;
}


.skill-row{
  width:60%;
  margin:100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}


.top-cloud {
  right: 300px;
  top: 100px;
  position: absolute;
}
.web{
  width: 25%;
  border-radius: 50%;
  float:left;
  margin-right:10px;
}

.mark{
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-right:10px;
}

.cat{
  border-radius: 50%;
  width:40%;

}


.profile{
  width: 33.3%;
  margin: auto;

}

.first-par{
  line-height: 2;

}

.middle-container{
  margin: 100px auto 100px auto;
}

.bottom-container{
background-color:#66BFBF;
height: 150px;
margin-top: 100px;
padding-bottom: 20px;
}

.copy{
  color:#EAF6F6;
}

.footer{
  padding: 50px;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #66BFBF;
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
	border-radius:6px;
	border:1px solid #66BFBF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:14px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66BFBF;
}
.btn:hover {
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
}
.btn:active {
	position:relative;
	top:1px;
}
